{% load bootstrap4 %}
{% bootstrap_css %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'cadastro' as cadastro_url %}
{% url 'index' as index_url %}
{% url 'pesquisar_agendamento' as realizar_agendamentos_url %}
{% url 'ver_agendamento' as ver_agendamentos_url %}

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" style="font-weight: bold; color: #7386D5">Sistema de agendamento</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == index_url %} active {% endif %}">
                <a class="nav-link" href="{{ index_url }}">Home
                    {% if request.path == index_url %}
                        <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Meus agendamentos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ realizar_agendamentos_url }}">Realizar agendamento</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ ver_agendamentos_url }}">Ver meus agendamentos</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ logout_url }}">Logout
                    </a>
                </li>
            {% else %}
                <li class="nav-item {% if request.path == login_url %} active {% endif %}">
                    <a class="nav-link" href=" {{ login_url }}">Login
                        {% if request.path == login_url %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        </ul>
        <span class="navbar-text">
            {% if request.user.is_authenticated %}
                Seja bem-vindo(a), {{ request.user.get_full_name }}!
            {% else %}
                Sessão anônima
            {% endif %}
        </span>
    </div>
</nav>
{% bootstrap_javascript jquery='full'%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

